@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Comic+Relief:wght@400;700&display=swap');


@font-face {
  font-family: 'frankfurter';
  src: url('../midias/fontes/frankfurter-medium.ttf') format('truetype');
}


/* Cores do site */
:root {
    --cor1      : #DF2849;
    --fundo     : #fff8e5;
    --hellok1   : #fc2b82;
    --hellok2   : #fd70ab;
    --pochacco1 : #0f84c7;
    --pochacco2 : #15a9df;
    --kuromi1   : #c36fdc;
    --kuromi2   : #E3A6F6;
    --chococat1 : #58465d;
    --chococat2 : #b29cb8;
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--fundo);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: white;
}

header {
    position: sticky;
    top: 0;
    background-color: var(--cor1);
    z-index: 999;
}

nav i {
    width: 100px;
    cursor: pointer;
}


.menu {
    display: none;
    list-style: none;
    padding: 10px;
    background-color: rgb(180, 33, 55);
    position: absolute;
    top: 60px;
    right: 10px;
    border-radius: 10px;
}


.menu li {
    margin: 10px 0;
}


.menu.active {
    display: block;
}


.menu li a {
    text-decoration: none;
    font-family: 'frankfurter';
    font-size: 18px;
    color: white;
    display: inline-block;
    transition: 0.4s;
}


.menu li a:hover {
    transform: scale(1.2);
    color: #b9b5b6;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--fundo);
}

.perso {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    margin: 50px;
    padding: 30px;
    background-color: var(--hellok1);
    border-radius: 25px;
    height: 60vh;
}

.perso .imagem {
    grid-area: 1 / 1 / 3 / 3;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    border-radius: 15px;
    padding: 10px;
}

.perso .imagem img {
    height: 80%;
    border-radius: 15px;
}

.perso .textos {
    grid-area: 1 / 3 / 2 / 6;

    padding: 20px;
    border-radius: 15px;
    
    color: white;
    background-color: var(--hellok2);
}

.perso .textos h1 {
    font-size: 4rem;
    font-family: 'Sour Gummy';
    margin-bottom: 15px;
}

.perso .textos p {
    padding: 0 20px;
    font-size: 1.4rem;
    font-family: 'Comic Relief';
}

.p2 {
    background-color: var(--chococat1);
    & .textos {
        background-color: var(--chococat2);
    }
}

.p3 {
    background-color: var(--kuromi1);
    & .textos {
        background-color: var(--kuromi2);
    }
}

.p4 {
    background-color: var(--pochacco1);
    & .textos {
        background-color: var(--pochacco2);
    }
}
