@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'frankfurter';
  src: url('../midias/fontes/frankfurter-medium.ttf') format('truetype');
}

body{
background-color: var(--fundo);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

header {
    position: sticky;
    top: 0;
    background-color: var(--cor1);
    z-index: 999;
}

nav i {
    width: 100px;
    cursor: pointer;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--fundo);
}
/* Cores do site */
:root {
    --cor1      : #DF2849;
    --fundo     : #fff8e5;
    --hellok1   : #FF76AF;
    --hellok2   : #FFAFD1;
    --pochacco1 : #46B9FD;
    --pochacco2 : #ACE1F4;
    --kuromi1   : #c36fdc;
    --kuromi2   : #E3A6F6;
    --chococat1 : #58465d;
    --chococat2 : #b29cb8;
}


.p1 {
    display: flex;
    align-items: center;
    margin: 50px;
    padding: 30px;
    background-color: var(--hellok1);
    border-radius: 25px;
}

.p1 img {
    width: 50%;
    background-color: var(--hellok2);
    border-radius: 15px;
}

.p1 p {
    padding: 54px;
    font-size: 2rem;
    font-family: 'Sour Gummy';
    color: white;
}

.p1 h1 {
    display: flex;
    align-items: center;
    margin: 15px;
    font-size: 4rem;
    font-family: 'Sour Gummy';
    color: white;
}

.p2 {
    display: flex;
    align-items: center;
    margin: 50px;
    padding: 30px;
    background-color: var(--chococat1);
    border-radius: 25px;
}

.p2 img {
    width: 50%;
    background-color: var(--chococat2);
    border-radius: 15px;
}

.p2 p {
    padding: 54px;
    font-size: 2rem;
    font-family: 'Sour Gummy';
    color: white;
}

.p2 h1 {
    display: flex;
    align-items: center;
    margin: 15px;
    font-size: 4rem;
    font-family: 'Sour Gummy';
    color: white;
}

.p3 {
    display: flex;
    align-items: center;
    margin: 50px;
    padding: 30px;
    background-color: var(--kuromi1);
    border-radius: 25px;
}


.p3 img {
    width: 50%;
    background-color: var(--kuromi2);
    border-radius: 15px;
}

.p3 p {
    padding: 54px;
    font-size: 2rem;
    font-family: 'Sour Gummy';
    color: white;
}

.p3 h1 {
    display: flex;
    align-items: center;
    margin: 15px;
    font-size: 4rem;
    font-family: 'Sour Gummy';
    color: white;
}

.p4 {
    display: flex;
    align-items: center;
    margin: 50px;
    padding: 30px;
    background-color: var(--pochacco1);
    border-radius: 25px;
}

.p4 img {
    width: 53%;
    background-color: var(--pochacco2);
    border-radius: 15px;
}

.p4 p {
    padding: 54px;
    font-size: 2rem;
    font-family: 'Sour Gummy';
    color: white;
}

.p4 h1 {
    display: flex;
    align-items: center;
    margin: 15px;
    font-size: 4rem;
    font-family: 'Sour Gummy';
    color: white;
}