@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Comic+Relief:wght@400;700&display=swap');

@font-face {
  font-family: 'frankfurter';
  src: url('../midias/fontes/frankfurter-medium.ttf') format('truetype');
}


/* Cores do site */
:root {
    --cor1      : #DF2849;
    --fundo     : #fff8e5;
    --hellok1   : #FF76AF;
    --hellok2   : #FFAFD1;
    --pochacco1 : #46B9FD;
    --pochacco2 : #ACE1F4;
    --kuromi1   : #c36fdc;
    --kuromi2   : #E3A6F6;
    --chococat1 : #58465d;
    --chococat2 : #b29cb8;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--fundo);
}

header {
    position: sticky;
    top: 0;
    background-color: var(--cor1);
    z-index: 999;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    
    color: white;
}

a {
    text-decoration: none;
}

nav i {
    width: 100px;
    cursor: pointer;
}


.menu {
    display: none;
    list-style: none;
    padding: 10px;
    background-color: rgb(180, 33, 55);
    position: absolute;
    top: 60px;
    right: 10px;
    border-radius: 10px;
}


.menu li {
    margin: 10px 0;
}


.menu.active {
    display: block;
}


.menu li a {
    text-decoration: none;
    font-family: 'frankfurter';
    font-size: 18px;
    color: white;
    display: inline-block;
    transition: 0.4s;
}


.menu li a:hover {
    transform: scale(1.2);
    color: #b9b5b6;
}


.bemvindo h1 {
    text-align: center;
    font-size: 1.7rem;
    font-family: 'frankfurter';
    margin-top: 10px;
    letter-spacing: 3px;
}


.bemvindo p{
    text-align: center;
    font-family: 'comic relief';
    font-size: 30px;
    margin-top: 20px;
}


.produtos{
    display: flex;
}


.produtos img{
    width: 35%;
    height: 500px;
    border-radius: 50%;
    margin-top: 30px;
    box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.205);
}


.produtos h1 {
    padding: 60px 20px;
    font-family: 'frankfurter';
    letter-spacing: 3px;
    font-size: 1.5rem;
}

.produtos ul{
    font-family: 'Sour Gummy';
    font-size: 40px;
    padding: 60px;
}


.shoppe {
    display: flex;
}


.texto {
    text-align: center;
    margin-top: 60px;
    padding: 25px;
    background-color: black;
}


.texto a {
    color: white;
}


.texto a:hover{
    color: rgb(154, 153, 153);
    cursor: pointer;
}

.shoppe {
    background-color: rgb(141, 141, 141); 
    padding: 30px;
}


.shoppe img:hover{
    transform: scale(1.2);
}

.shoppe img{
    width: 400px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
    border-radius: 15px;
    transition: 0.3s ease-out;
}


.agradecimentos{
    font-family: 'frankfurter';
    color: #FF76AF;
    text-align: center;
    padding: 100px;
    letter-spacing: 3px;
}


.final{
    background-color: #882033;
    width: 100%;
    padding: 50px;
    margin-top: 5%;
}


.final p{
    text-align: center;
    font-size: 2rem;
    font-family: 'SourGummy';
    margin: 10px;
    color: white;
}
