@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'frankfurter';
  src: url('../midias/fontes/frankfurter-medium.ttf') format('truetype');
}


/* Cores do site */
:root {
    --cor1      : #DF2849;
    --fundo     : #fff8e5;
    --hellok1   : #fc2b82;
    --hellok2   : #fd70ab;
    --pochacco1 : #0f84c7;
    --pochacco2 : #15a9df;
    --kuromi1   : #c36fdc;
    --kuromi2   : #E3A6F6;
    --chococat1 : #58465d;
    --chococat2 : #b29cb8;
}


* {
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--fundo);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

header {
    position: sticky;
    top: 0;
    background-color: var(--cor1);
    z-index: 999;
}


.olaseries img {
    border-radius: 30px;
    margin: 20px;
    box-shadow: 0 0 16px 8px rgb(255, 163, 224);
}


.olaseries h1{
    font-family: 'frankfurter';
    letter-spacing: 3px;
    margin: 10px;
    text-align: center;
}
