@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'frankfurter';
  src: url('../midias/fontes/frankfurter-medium.ttf') format('truetype');
}


/* Cores do site */
:root {
    --cor1      : #DF2849;
    --fundo     : #fff8e5;
    --hellok1   : #fc2b82;
    --hellok2   : #fd70ab;
    --pochacco1 : #0f84c7;
    --pochacco2 : #15a9df;
    --kuromi1   : #c36fdc;
    --kuromi2   : #E3A6F6;
    --chococat1 : #58465d;
    --chococat2 : #b29cb8;
}


* {
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--fundo);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

header {
    position: sticky;
    top: 0;
    background-color: var(--cor1);
    z-index: 999;
}


.olaseries h1{
    letter-spacing: 3px;
    margin: 10px;
    text-align: center;
    font-size: 60px;
    font-family: 'frankfurter';
}


.olaseries p{
    text-align: center;
    margin: 40px;
    font-size: 30px;
    font-family: 'comic relief';
}


.banner1 img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
    margin-top: 40px;
}


.tituloserie {
    text-align: center;
    letter-spacing: 3px;
    font-family: 'frankfurter';
    font-size: 40px;
}

.series {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 20px;
}

.series img {
    width: 100%;
    height: 600px;
    border-radius: 15px;
    object-fit: contain;
     box-shadow: 0 0 16px 8px rgb(254, 21, 180);
}