@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Comic+Relief:wght@400;700&display=swap');

@font-face {
  font-family: 'frankfurter';
  src: url('../midias/fontes/frankfurter-medium.ttf') format('truetype');
}


/* Cores do site */
:root {
    --cor1      : #DF2849;
    --fundo     : #fff8e5;
    --hellok1   : #fc2b82;
    --hellok2   : #fd70ab;
    --pochacco1 : #0f84c7;
    --pochacco2 : #15a9df;
    --kuromi1   : #c36fdc;
    --kuromi2   : #E3A6F6;
    --chococat1 : #58465d;
    --chococat2 : #b29cb8;
}


* {
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--fundo);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: white;
}

header {
    position: sticky;
    top: 0;
    background-color: var(--cor1);
    z-index: 999;
}


nav i {
    width: 100px;
    cursor: pointer;
}


.menu {
    display: none;
    list-style: none;
    padding: 10px;
    background-color: rgb(180, 33, 55);
    position: absolute;
    top: 60px;
    right: 10px;
    border-radius: 10px;
}


.menu li {
    margin: 10px 0;
}


.menu.active {
    display: block;
}


.menu li a {
    text-decoration: none;
    font-family: 'frankfurter';
    font-size: 18px;
    color: white;
    display: inline-block;
    transition: 0.4s;
}


.menu li a:hover {
    transform: scale(1.2);
    color: #b9b5b6;
}


.banner1 img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-top: 15pxx;
}


.olaseries h1{
    letter-spacing: 3px;
    margin: 10px;
    text-align: center;
    font-size: 5rem;
    font-family: 'frankfurter';
    color: var(--hellok1);
}


.olaseries p{
    text-align: center;
    margin: 40px;
    font-size: 3rem;
    font-family: 'comic relief';
}


.tituloserie {
    text-align: center;
    letter-spacing: 3px;
    font-family: 'frankfurter';
    font-size: 40px;
    color: var(--hellok1);
    margin-top: 3%;
}


.series {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 20px;
    transition: 0.4s;
}


.series img:hover {
    transform: scale(1.02);
    filter: brightness(1.2);
}


.series img {
    width: 100%;
    height: 600px;
    border-radius: 15px;
    object-fit: contain;
    box-shadow: 0 0 16px 8px rgba(254, 85, 203, 0.644);
    margin-top: 30px;
    cursor: pointer;
}

.textos {
    display: flex;
    margin-top: 5%;
    display: flex;
    box-shadow: 0 0 16px 8px #00000036;
    background-color: var(--hellok1);
    
}

.textos h1 {
    font-family: 'frankfurter';
    font-size: 4rem;
    color: white;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 70px;
}


.textos p {
    font-family: 'comic relief';
    font-size: 1.6rem;
    width: 50%;
    color: white;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
}